<div class="">
  <div class="row mb-3">
    <div class="col">
      <div class="float-left">
        <h3>Scans</h3>
      </div>
      <div class="float-right">
        <a class="btn btn-success" href="#" role="button">+ Create Scan</a>
      </div>
    </div>
  </div>
  <hr>
</div>

<div class="card bg-light mb-12" (click)="alert();">
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <h5 class="card-title">UNIV 101
          <small>Scanned 05/19/18 at 10:00 PM</small>
        </h5>
      </div>
      <div class="col-4 text-right">
        <h5>
          <span class="badge badge-primary">5 documents for review</span>
        </h5>
      </div>
    </div>
  </div>
</div>
<br>
<div class="card bg-light mb-12">
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <h5 class="card-title">UNIV 101
          <small>Scanned 05/19/18 at 10:00 PM</small>
        </h5>
      </div>
      <div class="col-4 text-right">
        <h5>
          <span class="badge badge-secondary">No documents for review</span>
        </h5>
      </div>
    </div>
  </div>
</div>
